{% extends "base.html.twig" %}
{% block contenu %}


    <form  action="index.php?page=modif-profil" method="post" enctype="application/x-www-form-urlencoded" >
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email"  aria-describedby="emailHelp" value="{{ unDeveloppeur.email }}" disabled >
        </div>
        <div class="form-group">
            <label for="Nom">Nom</label>
            <input type="text" class="form-control" id="Nom"  name="Nom" value=" {{ unDeveloppeur.nom }} " required>
        </div>
        <div class="form-group">
            <label for="Prenom">Prenom</label>
            <input type="text" class="form-control" id="Prenom" name="Prenom" value="{{ unDeveloppeur.prenom }} " required>
        </div>
            {% for l in liste %}
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{ l.id }}" id="langage[]" name="langage[]">
                <label class="form-check-label" for="langage[]">
                    {{ l.libelle }}
                </label>
        </div>

            {% endfor %}

        <button type="submit" class="btn btn-primary" name="btModifier" id="btModifier" href="index">Modifier</button>
    </form>

{% endblock %}